*{
    margin: 0 ;
    font-family: 'roboto' sans-serif;
  }
  body {
    overflow-x: hidden;
  }
  /*header*/
  .section-1{
    display:block;
  }
 
  nav {
    background-color: #525252;
}


.navbar-brand img {
    width: 73px;
    height: 55px;
}
#navbarCollapse {
    justify-content: right;
}

.navbar-nav a {
    padding: 10px 20px !important;
    font-size: 17px;
    font-weight: normal;
    color: white;
}
.coloured{
  background-color:#1D7A8C ;
  border-radius: 25px;
  color: white;
 /* padding-left: 10px !important;
  padding-right: 10px !important;
  border-color: white;*/
  padding-bottom: 10px;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px 20px;
    margin: 0px 6px;
    
}
.menu-m{
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 5px 20px;
  margin: 0px 6px;
  display: none;
}
.notification-bell {
    height: 32px;
    width: 29px;
    cursor: pointer;
    position: absolute;
}
.notification-no {
    position: relative;
    border-radius: 106%;
    background: red;
    color: white;
    padding: 1px 5px;
    top: -7px;
    right: -15px;
}
.vrline {
    height: 48px;
    width: 1px;
    background-color: white;
    
}
.user_menu {
    display: inline;
}

.user_menu button {
    background: none;
}
.dropdown-menu {
    background: white !important;
    color: black;
}
.user_menu .dropdown-menu {
    min-width: 0px !important;
}

.user_menu img{
    padding-left: 5px;
}


.ddmenu img{
    border: o.5px solid #FFFFFF;
    background-color: #FFFFFF;
}
/*bell-med*/
.notification-bell-m {
  height: 32px;
  width: 29px;
  cursor: pointer;
  position: absolute;
  display: none;
}
.notification-no-m {
  position: relative;
  border-radius: 106%;
  background: red;
  color: white;
  padding: 1px 5px;
  top: -7px;
  right: -15px;
  display: none;
}

/*heder1-1*/
.section-1-1{
  display:none;
}
.n1 {
  background-color: #525252;
}

.navbar-brand img {
  width: 73px;
  height: 55px;
}
#navbarCollapse1 {
  justify-content: right;
}

.navbar-nav a {
  padding: 10px 20px !important;
  font-size: 17px;
  font-weight: normal;
}
.menu1 {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 5px 20px;
  margin: 0px 6px;
}

.user_menu1 {
  display: inline;
}

.user_menu1 button {
  background: none;
}
.dropdown-menu {
  background: white !important;
  color: black;
}
.user_menu1 .dropdown-menu {
  min-width: 0px !important;
}

.user_menu1 img{
  padding-left: 5px;
}


.ddmenu1 img{
  border: o.5px solid #FFFFFF;
  background-color: #FFFFFF;
}
/*setion-2-1*/
.section-2-1 {
    padding: 44px 0px;
    background: #f9f9f9;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    display:block;
  }
    
  .section-2-1 h2 {
    font-size: 30px;
    color: #4f4f4f;
    
  }
  /*setion-2-1-2*/
  .section-2-1-2 {
    padding: 44px 0px;
    background: #f9f9f9;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    display:none;
  }
    
  .section-2-1-2 h2 {
    font-size: 30px;
    color: #4f4f4f;
    
  }
  /*section-2-2*/
  .dashboard {
    max-width: 1100px;
    height: 100%;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.leftsidebar{
    min-height: 100vh;
    background-color: #1d7a8c;
}
.leftsidebar #sh{
    background-color: #146371;
}

#leftsidebar a {
   
    background-clip: padding-box;
}

.list-group-item {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 18px 15px;
    background: #1d7a8c;
    color: #FFFFFF;
    min-width: 260px;
    
}

.dashboard table {
    border: 1px solid #e1e1e1;
    margin-bottom: 0px !important;
}
/*
#sd{
    width: 165px;
}
#cd{
    width: 270px;
}*/

.dashboard table tr th {
    background: #f9f9f9;
    font-weight: bold;
    color: #646464;
    font-size: 16px;
    cursor: pointer;
}
.dashboard .table td, .dashboard .table th {
    margin: 0.3rem 30px !important;
}
.t-row{
    height: 85px;
}

.export{
    background:#146371;
    color: #ffffff ;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 6px;
}
.sh-heading{
    font-weight: bold;
    font-size: 22px;
    color:#646464;
    margin-right: 460px;
    padding-left:15px;
}
.sh-heading h3{
    font-weight: bold;
}

.dashboard table tr td {
    color: #646464;
    /*background: #f9f9f9;*/
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
}
.dashboard table tr td p {
    margin-bottom: 8px !important;
}

.date {
    font-weight: bold;
    color:#646464;
}

.a{
    display: flex !important;
}
.cap-icon{
    border: 1px solid #aaa;
    width: 44px;
    height: 44px;
    margin:auto;
}
.lum-watson{
  /*  width: 95px;
  height: 15px;
  margin: 27px 0 4px 12px;*/
  font-size: 16px; 
  line-height: 1.5;
  text-align: left;
}

.euro{
    color: #1d7a8c;
    font-size: 24px;
    font-weight: bold;
}

.status-completed {
    background:#67b644;
    color: #ffffff ;
    border: 1px solid #e1e1e1;
   
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
}

.status-cancelled{
    background:#ff6b6b;
    color: #ffffff ;
    border: 1px solid #e1e1e1;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
}
.rate-sp{
    background-color: #6da9b5;
    color:#ffff;
    border: none;
    padding: 11px 9px 13px 13px;
    border-radius: 20px;
    font-size:14px;
    cursor:point;
}

.list-group-item-action:hover {
    background:#146371 !important;
    color: #f9f9f9;
}

.cancel-btn:hover{
    background-color: #FFFFFF;
    color:#FF6B6B;
    border:1px solid #FF6B6B;
}



#sh-bottom{
    margin-right: 8px;
}

.sh-bottom{
    text-decoration: none;
    margin-right: 8px;
    padding-left:15px;

}
.sh-bottom a{
    color: #646464;
    text-decoration: none;
    margin-right: 8px;
    margin-top:18px;
    font-size: 14px;
}
.sh-bottom select{
    border-radius: 4px;
    border:1px solid #E1E1E1;
    margin-right: 8px;
    padding-left: 13px;
    padding-right: 11px;
    height: 38px;
    width: 62px;
    margin-top:10px;
    line-height:24px;
    color:#646464;
    font-size:14px;
    
}
.page{
    margin-top: auto;
    margin-left: 140px;
}
.page-no{
    border: 1px solid #aaa;
    width: 38px;
    height: 38px;
    margin:auto;
    
}
.page-no a img{
    margin-top:11px;
}

.page-no a p{
    margin-top:10px;
    font-size:14px;
    height:10px;
    color:#777;

}

.page-no1{
    border: 1px solid #aaa;
    width: 38px;
    height: 38px;
    margin:auto;
    background-color:#1D7A8C;
    
}

.page-no1 a{
    text-decoration:none;
    color:#ffffff;
    margin-top:10px;
    font-size:14px;
    height:10px;
}
.page-no:hover{
    background-color:#1D7A8C;
}
.page-no a p:hover{
    color:#ffffff;
}

/*footer*/
.section-4 {
    height: 180px;
    background-color: black;
    
  }
  .footer1 {
    
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 100px;
  }
  .footer-img {
    margin-right: 300px;
    height: 100px;
  }
  .footer1-logo {
  
    width: 120px;
    height: 92px;
    padding: 17px 0 0 17px;
    margin-left: -30px;
  }
  .footer-nav {
    padding-top: 5px;
  }
  .footer-nav a {
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    overflow: hidden;
    color: #f1f1f1;
    letter-spacing: 0.7px;
  }
  .footer-nav a:hover {
    color: #f1f1f1;
  }
  .social {
    float: right;
    margin-left: 250px;
  }
  .social img {
    padding-right: 15px;
  }
  .footer2 {
    height: 60px;
  }
  .footer2 p {
    color: #9ba0a3;
    padding-top: 15px;
  }
  .footer2 p span {
    color: #6eabef;
  }
  .Rectangle-12-copy-2 {
    width: 100%;
    height: 1.2px;
    background-color: #424242;
  }

  @media (min-width:992px ) and (max-width:1344px){
    .footer-img {
       margin-right: 40px;
       height: 100px;
     }
     .footer1-logo {
        margin-left: -30px;
     }
     .social {
       float: right;
       margin-left: 70px;
     }
   }
   @media (min-width:768px ) and (max-width:992px){
   .footer-nav a {
       text-decoration: none;
       font-size: 14px;
       margin-right: 7px;
       overflow: hidden;
       color: #f1f1f1;
       letter-spacing: 0.7px;
     }
     .footer-img {
       margin-right: 15px;
       height: 100px;
     }
     .footer1-logo {
        margin-left: -50px;
     }
     .social {
       float: right;
       margin-left: 15px;
       margin-right: -100px;
     }
   }
   @media (min-width:400px ) and (max-width:768px){
      .section-4 {
       height: 280px;
       background-color: black;
       width: 100%;
     }
     .footer1 {
      justify-content: center;
       align-items: center;
       height: 150px;
       display: flex;
       left: 50%;
       flex-direction: row;
       
     }
     .footer-img {
       margin: 0 auto;
       margin-left:50%;
       flex-direction: column;
     }
     .footer-nav {
     
       
     margin-left: 95px;
     margin-right: 0;
       text-align: center;
     }
     .footer-nav a {
       font-size: 12px;
       padding: 5px;
       margin: 1px;
       text-align: center;
     }
     
     .social {
        width: 100%;
        margin-left: 50%;
       margin-top: 5px;
     }
     .social img {
     left: 10px;
     }
     .footer2 {
       height: 60px;
       font-size: 17px;
       text-align: center;
     }
     
     .Rectangle-12-copy-2 {
       margin-top: 40px;
       width: 100%;
       height: 1.2px;
       background-color: #424242;
     }
     
   }

   /* for header*/

   @media(min-width:800px) and (max-width:992px){
    .notification-bell-m {
      height: 32px;
      width: 29px;
      cursor: pointer;
      position: absolute;
      display: block;
     
    }
    .notification-no-m {
      position: relative;
      border-radius: 106%;
      background: red;
      color: white;
      padding: 1px 5px;
      top: -7px;
      right: -15px;
      display: block;
    }

    .notification-bell {
      height: 32px;
      width: 29px;
      cursor: pointer;
      position: absolute;
      display: none;
  }
  .notification-no {
      position: relative;
      border-radius: 106%;
      background: red;
      color: white;
      padding: 1px 5px;
      top: -7px;
      right: -15px;
      display: none;
  }
  .vrline {
      height: 48px;
      width: 1px;
      background-color: white;
      display: none;
  }
  .user_menu {
    display:none;
}
.menu-m{
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 5px 20px;
  margin: 0px 6px;
  display:block;
}
.navbar-nav{
  align-items: center;
  justify-content: center;
}
   }
   @media(min-width:400px) and (max-width:800px){
    .section-2-1 {
      display:none;
     }
       
     .section-2-1 h2 {
       font-size: 30px;
       color: #4f4f4f;
       
     }
     /*setion-2-1-2*/
     .section-2-1-2 {
       padding: 23px 0px;
      display:block;
     }
       
     .section-2-1-2 h2 {
       font-size: 30px;
       color: #4f4f4f;
       }
       .section-1{
        display:none;
      }
      .section-1-1{
        display:block;
      }
      .navi1{
        align-items: center;
        justify-content: center;
      }
      .leftsidebar{
      display: none;
    }
   
    .notification-bell-s {
      height: 32px;
      width: 29px;
      cursor: pointer;
      position: absolute;
      display:block;
    }
    .notification-no-s {
      position: relative;
      border-radius: 106%;
      background: red;
      color: white;
      padding: 1px 5px;
      top: -7px;
      right: -15px;
      display:block;
    }
   
      
   }
   @media (max-width:400px){
    .section-1{
      display:none;
    }
    .section-1-1{
      display:block;
    }
    .navi1{
      align-items: center;
      justify-content: center;
    }
    .notification-bell-s {
      height: 32px;
      width: 29px;
      cursor: pointer;
      position: absolute;
      display:block;
    }
    .notification-no-s {
      position: relative;
      border-radius: 106%;
      background: red;
      color: white;
      padding: 1px 5px;
      top: -7px;
      right: -15px;
      display:block;
    }
    .section-2-1 {
      display:none;
     }
       
     .section-2-1 h2 {
       font-size: 30px;
       color: #4f4f4f;
       
     }
     /*setion-2-1-2*/
     .section-2-1-2 {
       padding: 23px 0px;
      display:block;
     }
       
     .section-2-1-2 h2 {
       font-size: 30px;
       color: #4f4f4f;
       }
       .leftsidebar{
        display: none;
      }
    
   }
   @media(min-width:1013px) and (max-width:1082px){
    .sh-heading{
      font-weight: bold;
      font-size: 22px;
      color:#646464;
      margin-right: 360px;
      padding-left:15px;
  }
  .page{
    margin-top: auto;
    margin-left: 40px;
}
   }

   @media(min-width:992px){
    .notification-bell-m {
      height: 32px;
      width: 29px;
      cursor: pointer;
      position: absolute;
      display: none;
    }
    .notification-no-m {
      position: relative;
      border-radius: 106%;
      background: red;
      color: white;
      padding: 1px 5px;
      top: -7px;
      right: -15px;
      display: none;
    }
   }
   @media(min-width:991px) and (max-width:1013px){
    .sh-heading{
      font-weight: bold;
      font-size: 21px;
      color:#646464;
      margin-right: 340px;
      padding-left:15px;
  }
  .page{
    margin-top: auto;
    margin-left: 20px;
}
.dashboard table tr th {
  background: #f9f9f9;
  font-weight: bold;
  color: #646464;
  font-size: 14px;
  cursor: pointer;
}
 }
 @media(min-width:801px) and (max-width:991px){
 .sh-heading{
    font-weight: bold;
    
    color:#646464;
    margin-right: 270px;
    padding-left:10px;
}
.sh-heading h3{
  font-size: 20px;
}
.sh-bottom{
  text-decoration: none;
  margin-left: 100px;
  padding-left:20px;
}
.page{
  margin-top: 10px;
  margin-left: 110px;
}
.leftsidebar{

  margin-left: -10px;
  margin-right: -20px;
}


.dashboard table tr th {
  background: #f9f9f9;
  font-weight: bold;
  color: #646464;
  font-size: 14px;
  cursor: pointer;
  padding: 12px 3px 15px 3px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}


}
@media(min-width:562px) and (max-width:800px){
  .sh-heading{
    font-weight: bold;
    
    color:#646464;
    margin-right: 205px;
    padding-left:10px;
}
.sh-bottom{
  text-decoration: none;
  margin-left: 100px;
  padding-left:20px;
}
.page{
  margin-top: 10px;
  margin-left: 110px;
}
}
@media(max-width:562px){
  .sh-heading{
    font-weight: bold;
    
    color:#646464;
    margin-right: 150px;
    padding-left:10px;
}
#rightsidebar{
  width: 100px;
}
.dashboard table tr th {
  background: #f9f9f9;
  font-weight: bold;
  color: #646464;
  font-size: 12px;
  cursor: pointer;
  padding: 10px 3px 10px 3px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.t-row{
  height: 85px;
  width: 100px;
}
.dashboard table tr td {
  color: #646464;
  /*background: #f9f9f9;*/
  text-align: left;
  vertical-align: middle;
  font-size: 12px;
}
.dashboard table tr td p {
  margin-bottom: 5px !important;
}

}



