@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    overflow-x: hidden;
}
.logo{
  margin-left: 22px;
}
.navbar-nav .nav-link:hover {
    color: yellow;
}
.navbar .prices {
    width: 162px;
}
/*--banner--*/
.price-banner {
    max-height: 370px;
    margin-top: 64px;
}
/*section-2*/
.Rectangle-5-copy-5 {
    width: 62px;
    height: 1px;
    background-color: #ccc;
    margin-right: 9px;
    margin-top: 12px;
  }
  .Rectangle-5-copy-6 {
    width: 62px;
    height: 1px;
    background-color: #ccc;
    margin-left: 9px;
    margin-top: 12px;
  }
  .section-2{
    margin-top:25px;
    margin-bottom: 10px;
  
  }
  .section-2 .row img
  {
      width: 50px;
      height: 30px;
  }
  .section-2 div h1{
    font-size: 36px;
  }
  .section-5 {
    height: 100px;
    margin-top: 43px;
    margin-bottom: 53px;
    top: 180%;
  
  }
  .msg-box {
  
    position: relative;
    left: 40%;
    height: 100px;
  }
  .GET-OUR-NEWSLETTER {
    font-size: 18px;
    font-weight: 500;
    color: #353548;
    padding-left: 63px;
  }
  .msg-foam {
    margin-top: 10px;
  }
  .Rounded-Rectangle-649 {
    width: 233px;
    height: 40px;
    padding: 14px 13px 16px 22px;
    border-radius: 20px;
    border: solid 1px #565656;
    outline: none;
    background-color: #f4f5f8;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .Rounded-Rectangle-649-copy {
    width: 88px;
    height: 40px;
    border: none;
    color: #ffffff;
    border-radius: 20px;
    background-color: #ff7b6d;
  }



  /*middle section*/
 
  .book-service {
    margin-bottom: 10px;
  }
  
  .book-service .max-width {
    max-width: 1560px;
    margin: auto;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active {
    background: #1D7A8C;
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 0px;
    height: 67px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link:not(.active) {
    background: #F3F3F3;
    font-family: 'Roboto';
    font-size: 18px;
    color: #646464;
    border-radius: 0px;
    height: 67px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active .black {
    display: none;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link:not(.active) .white {
    display: none;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active .white {
    margin-right: 2px;
  }
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active{
    position: relative;
  }
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link.active::after{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 100%;
    border-width: 14px 14px 0 14px;
    border-color: #1d7a8c transparent transparent transparent;
    border-style: solid;
    left: 50%;
    margin-left: -14px

  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .nav-link:not(.active) .black {
    margin-right: 2px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .text-1 {
    font-family: 'Roboto';
    font-size: 16px;
    color: #4F4F4F;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .input-element {
    width: 160px;
    height: 35px;
    font-family: 'Roboto';
    font-size: 14px;
    height: 35px;
    color: #646464;
    border: 1px solid #E1E1E1;
    padding: 0px 10px;
    margin: 16px 10px 0px 0px;
  }
  
  .book-service .extra-service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .book-service .extra-service .extra-content {
    display: inline-block;
    width: 140px;
    justify-content: center;
    margin: 16px auto;
  }
  .book-service .extra-image-1 {
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 64px;
    margin: auto;
  }
  .book-service .extra-image-2 {
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 64px;
    margin: auto;
  }
  .book-service .extra-image-3 {
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 64px;
    margin: auto;
  }
  .book-service .extra-image-4 {
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 64px;
    margin: auto;
  }
  .book-service .extra-image-5 {
    width: 108px;
    height: 108px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 64px;
    margin: auto;
  }
  .book-service .extra-image-1 img {
    margin: auto;
  }
  .book-service .extra-image-2 img {
    margin: auto;
  }
  .book-service .extra-image-3 img {
    margin: auto;
  }
  .book-service .extra-image-4 img {
    margin: auto;
  }
  .book-service .extra-image-5 img {
    margin: auto;
  }
  .book-service .extra-text {
    text-align: center;
  }
  .book-service .extra-content .extra-text-1 {
    font-family: 'Roboto';
    font-size: 16px;
    color: #646464;
    text-align: center;
    opacity: 1;
  }
  .book-service .extra-content .extra-text-2 {
    font-family: 'Roboto';
    font-size: 18px;
    color: #1D7A8C;
    text-align: center;
    opacity: 1;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .service-comment {
    width: 100%;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    margin: 10px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #C8C8C8;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .checkbox-text {
    font-family: 'Roboto';
    font-size: 16px;
    color: #4F4F4F;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .continue-right {
    text-align: right;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .continue {
    font-family: 'Roboto';
    font-size: 20px;
    color: #FFFFFF;
    background: #1D7A8C;
    border-radius: 23px;
    border: 1px solid #1D7A8C;
    width: 150px;
    height: 46px;
    text-align: center;
    align-content: right;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .postalcode-check .postalcode {
    font-family: 'Roboto';
    font-size: 14px;
    color: #4F4F4F;
    width: 250px;
    height: 46px;
    border-radius: 2px;
    border: 1px solid #8D8D8D;
    padding-left: 10px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .postalcode-check .check-avail {
    font-family: 'Roboto';
    font-size: 14px;
    color: #FFFFFF;
    background: #1D7A8C;
    border-radius: 23px;
    border: 1px solid #1D7A8C;
    width: 150px;
    height: 46px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content select {
    font-family: 'Roboto';
    font-size: 14px;
    height: 35px;
    color: #646464;
    border: 1px solid #E1E1E1;
    padding: 0px 10px;
    margin: 16px 10px 16px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .payment-card {
    max-width: 360px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 7px #00000059;
    opacity: 1;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .payment-header {
    font-family: 'Roboto';
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
    padding: 15px 15px;
    background: #1D7A8C;
    height: 67px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .payment-text1 {
    font-family: 'Roboto';
    padding: 20px 20px;
    border-bottom: 1px solid #C8C8C8;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-1 {
    font-size: 16px;
    color: #4F4F4F;
    margin: 0px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .payment-text1 .textline-1 {
    margin-bottom: 10px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-2 {
    font-size: 18px;
    color: #646464;
    margin: 0px 0px;
  }
  .book-service .bookservice-content .bookservice-area .payment-summary .underline {
    background: #E1E1E1;
    height: 1px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .payment-text2 {
    font-family: 'Roboto';
    padding: 20px 20px;
    border-bottom: 1px solid #C8C8C8;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-3 {
    font-size: 16px;
    color: #646464 !important;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .payment-text3 {
    font-family: 'Roboto';
    padding: 20px 20px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .payment-text4 {
    font-family: 'Roboto';
    padding: 12px 20px;
    background: #F3F3F3;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-4 {
    font-size: 20px;
    color: #1D7A8C;
    margin: 15px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-5 {
    font-size: 42px;
    color: #1D7A8C;
    margin-left: -45px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-6 {
    font-size: 20px;
    color: #646464;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-7 {
    font-size: 14px;
    color: #646464;
    margin: 10px 0px 0px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .text-8 {
    font-size: 14px;
    color: #8D8D8D;
    margin: 0px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .questions {
    max-width: 360px;
    margin: 26px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .questions .questions-header {
    font-family: 'Roboto';
    font-size: 24px;
    text-align: center;
    color: #4F4F4F;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .questions .accordion .accordion-item {
    border-bottom: 1px solid #E1E1E1;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .questions .accordion .accordion-button {
    font-family: 'Roboto';
    font-size: 14px;
    color: #4F4F4F;
    padding: 12px 0px 12px 0px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .questions .accordion .accordion-body {
    font-family: 'Roboto';
    font-size: 15px;
    color: #646464;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .accordion .accordion-button::before{
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
      content: "";
      background-image: url("../images/keyboard-right-arrow-button.png");
      background-repeat: no-repeat;
      background-size: 1rem;
    transform: rotate(-90deg);
      transition: transform .2s ease-in-out;
      margin-right: 5px;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .accordion .accordion-button::after{
    display: none;
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .accordion .accordion-button:not(.collapsed)::before {
      transform: rotate(0deg);
  }
  
  .book-service .bookservice-content .bookservice-area .payment-summary .questions .for-more-help {
    font-family: 'Roboto';
    font-size: 16px;
    text-align: left;
    color: #1D7A8C;
    margin: 18px 0px 55px 0px;
  }
  .cabinet
  {
    display: none;
  }
  .cabinet-txt
  {
    display: none;
  }
  .fridge
  {
    display: none;
  }
  .fridge-txt
  {
    display: none;
  }
  .oven
  {
    display: none;
  }
  .oven-txt
  {
    display: none;
  }
  .wash
  {
    display: none;
  }
  .wash-txt
  {
    display: none;
  }
  .window
  {
    display: none;
  }
  .window-txt
  {
    display: none;
  }
  /*3rd tab*/
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .row {
    margin: 0 0;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .area-label {
    position: relative;
    padding: 10px 0px 10px 60px;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    margin: 16px 0 10px 0;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .area-radio {
    position: absolute;
    top: 25px;
    left: 32px;
    margin: auto;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .address-left {
    text-align: left;
    padding: 0 0;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-new-address {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    color: #1D7A8C;
    background: #FFFFFF;
    border-radius: 23px;
    border: 2px solid #1D7A8C;
    width: 180px;
    height: 46px;
    text-align: center;
    align-content: left;
    margin: 16px 0 10px 0;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-new-address:hover {
    background: #1D7A8C;
    color: #FFFFFF;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address {
    background-color: #F8F8F8;
    border: 1px solid #DEDDDD;
    border-radius: 4px;
    margin: 16px 0 10px 0;
    display: none;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address label {
    font-family: 'Roboto';
    font-size: 16px;
    color: #4F4F4F;
    margin: 20px 0 5px 0;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address .input {
    font-family: 'Roboto';
    font-size: 16px;
    color: #4F4F4F;
    width: 100%;
    height: 46px;
    border: 1px solid #DEDDDD;
    border-radius: 4px;
    padding: 15px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address .input-group .input-group-text {
    width: 54px;
    height: 46px;
    border: 1px solid #DEDDDD;
    border-right: none;
    border-radius: 4px 0 0 4px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address .input-group input {
    width: calc(100% - 54px);
    height: 46px;
    margin: 0 0;
    border: 1px solid #DEDDDD;
    border-radius: 0 4px 4px 0;
    padding-left: 15px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address .address-save {
    background-color: #6BA7B3;
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
    width: 80px;
    height: 46px;
    border: 1px solid #6BA7B3;
    border-radius: 23px;
    margin: 20px 0 20px 12px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address .address-save:hover {
    background-color: #1D7A8C;
    border: 1px solid #1D7A8C;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address .address-cancel {
    background-color: #F8F8F8;
    font-family: 'Roboto';
    font-size: 16px;
    color: #4F4F4F;
    width: 100px;
    height: 46px;
    border: 1px solid #C6C6C6;
    border-radius: 23px;
    margin: 20px 0 20px 12px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .add-address .address-cancel:hover {
    border: 1px solid #1D7A8C;
    color: #1D7A8C;
  }
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content label {
    margin-top: 10px;
    padding: 0 0;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .promocode-check .promocode {
    font-family: 'Roboto';
    font-size: 14px;
    color: #4F4F4F;
    width: 250px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #DEDDDD;
    padding-left: 10px;
    margin-top: 16px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .promocode-check .apply {
    font-family: 'Roboto';
    font-size: 15px;
    color: #1D7A8C;
    background: #FFFFFF;
    border-radius: 23px;
    border: 1px solid #1D7A8C;
    width: 100px;
    height: 46px;
    margin-top: 16px;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .promocode-check .apply:hover
  {
    background: #1D7A8C;
    color: #FFFFFF;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .complete-booking {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background: #1D7A8C;
    border-radius: 23px;
    border: 1px solid #1D7A8C;
    width: 230px;
    height: 46px;
    margin: 20px 0;
    text-align: center;
  }
  
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .complete-booking:hover {
    background: #29626D;
  }
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .checkboxlast {
    width: 18px;
    height: 18px;
    border: 1px solid #C8C8C8;
    
  }
  .book-service .bookservice-content .bookservice-area .faq-tab .tab-content .checkboxlast-text {
    font-family: 'Roboto';
    font-size: 16px;
    color: #4F4F4F;
    margin-top: -22px;
    margin-left: 20px;
  }

  