@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}
.price-banner {
    max-height: 370px;
    margin-top: 64px;
}



.contactext {
    /* width: 84px; */
    height: 43px;
    letter-spacing: 0px;
    color: #4F4F4F;
    font-size: 36px;
    font-family: Roboto;
    font-weight: bold;
    margin-top: 85px;
}

.sepimg {
    position: relative;
    margin-left: 470px;
    margin-right: 470px;
}


.sepimg::after, .sepimg::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 1px;
    width: 39%;
    height: 1px;
    background: #CCCCCC;
    top: 45%;
}

.sepimg::before {
    left: 0;
}

.sepimg::after {
    right: 0;
}

@media screen and (max-width:1000px) {
    .sepimg {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .sepimg::after, .sepimg::before {
        content: '';
        position: absolute;
        margin: auto;
        height: 1px;
        width: 39%;
        height: 1px;
        background: #CCCCCC;
        top: 45%;
    }
}
.sepretor {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: block;
    width: 24px;
    height: 25px;
    position: relative;
    margin-top: 9px;
}
.cntfm {
    margin-top: 23px;
}

.forms {
    margin-top: 70px;
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
}

.part2 {
    margin-top: 7px;
}
.part3{
    margin-top: 7px;
}
.txtlogin{
    margin-top: 5px;
}

.col {
    width: 300px;
}

.sbmt {
    margin-top: 25px;
    justify-content: center;
}

.btn-sbt {
    width: 163px;
    height: 46px;
    background: #1D7A8C 0% 0% no-repeat padding-box;
    border-radius: 23px;
    color: #FFFFFF;
}