@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
    font-weight: medium;
}

h2 {
    color: #4F4F4F;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0px;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    color: #565656;
}


.dwn {
    margin-top: 42px;
    padding-bottom: 8%;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    width: 40px;
}

.eclipce {

    width: 40px;
    height: 40px;
    position: absolute;

}

.download {
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    position: absolute;
    width: 16px;
    height: 20px;
}

.scroll-down {
    cursor: pointer;
    text-decoration: none;
}

.download:hover,
.eclipce:hover {
    background: #006072;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    border: 1px solid #ffffff;
}

.row {
    width: 100%;
}

.book-btn {
    display: inline-block;
    background-color: rgba(0, 96, 114, 0.6);
    border-radius: 27px;
    border: 1px solid #FFFFFF;
    height: 54px;
    line-height: 52px;
    color: #fff !important;
    text-decoration: none !important;
    min-width: 225px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.book-btn:hover {
    background-color: #ffffff;
    color: #006072 !important;
}

.banner .headpart {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.banner .headpart .row .col-lg-3 {
    text-align: center;
    padding: 0;
    position: relative;
}

.banner .headpart .row .col-lg-3+.col-lg-3 .step {
    padding-left: 140px;
}

.banner .headpart .row .col-lg-3+.col-lg-3 .step:before {
    position: absolute;
    content: '';
    top: 20px;
    left: 35px;
    width: 85px;
    height: 23px;
    background-image: url('../image/step-arrow-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .headpart .row .col-lg-3:nth-child(odd) .step:before {
    background-image: url('../Image/step-arrow-1-copy.png');
}

.banner .headpart .row .step span {
    display: block;
    margin-bottom: 35px;
}

.banner .headpart .row .step span img {
    display: inline-block;
    max-width: 62px;
}

.banner .headpart .row .step p {
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
}

.banner .process-item-2 p {
    width: 152px;
}

.banner .process-item-3 p {
    width: 173px;
}

.banner .process-item-4 p {
    width: 198px;
}

/* ----------------------------------
------------Why Helperland-----------
---------------------------------- */
.helperlands .helperlandblock .img-block {
    margin-bottom: 35px;
}

.helperlands .helperlandblock p {
    font-size: 17px;
}

.why-helperland h2 {
    margin-bottom: 80px;
    margin-top: 80px;
}


.helperlands .helperlandblock {
    margin: 0 -32px;
}

.helperlands .helperlandblock p {
    margin-top: 30px;
}

.helperlands .helperlandblock .computers {
    margin-top: 70px;
}

.helperlands .helperlandblock>div {
    padding: 0 32px;
}

.why-helperland .container {
    max-width: 1230px;
}

/* -------------------------
-------Our Blog-----------
---------------------- */
.blogs {
    padding: 135px 0 50px;
    position: relative;
}

.blogs:before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    background-image: url('../Image/blog-left-bg.png');
    background-repeat: no-repeat;
    width: 154px;
    height: 100%;
    z-index: -1;
}

.blogs:after {
    content: '';
    position: absolute;
    right: 0;
    top: 100px;
    background-image: url('../Image/blog-right-bg.png');
    background-repeat: no-repeat;
    width: 174px;
    height: 100%;
    z-index: -1;
}

.blog-uppper-part {
    padding: 0 0 10px;
}

.blog-uppper-part h3 {
    max-width: 500px;
}

.blog-uppper-part p {
    font-size: 18px;
    margin: 0 0 25px;
    max-width: 620px;
}

.blog-upper-part .image-wrapper {
    text-align: right;
}

.our-blog h2 {
    margin: 0 0 62px;
}

.our-blog .blog-image {
    position: relative;
    padding-bottom: 45.5%;
}

.our-blog .blog-image img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.our-blog .blog-content {
    padding: 20px;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.our-blog .blog-content p {
    margin: 0 0 20px;
}

.our-blog .blog-content h3 {
    font-size: 20px;
    color: #3d4046;
    margin: 0;
}

.our-blog .blog-content span {
    font-size: 13px;
    color: #a3a3a3;
    display: block;
    margin: 0 0 10px;
}

.our-blog .blog-detail {
    box-shadow: 0 0 30px 0 #e4ebf0;
}

.our-blog .read-more {
    font-size: 18px;
    color: #4f4f4f !important;
    font-weight: 400;
    text-decoration: none !important;
}

.our-blog .read-more .blogimg {
    margin-left: 10px;
    position: relative;
    right: 0;
    transition: all 0.5s;
}


/* -----------------------------------------
---------------What Our Customer Says------- 
--------------------------------------------*/

.what-our-customer-say {
    background-color: #F4F5F8;
    color: #565656;
}

.what-our-customer-say .profile-page {
    padding-bottom: 40px;
}

.what-our-customer-say .profile-page .profile-header {
    position: relative
}

.what-our-customer-say .profiles {
    margin-left: 0px;
    border-left: 3px solid #006072;
}

.what-our-customer-say h2 {
    margin-bottom: 57px;
    padding-top: 57px;
}

.what-our-customer-say .shp {
    margin-left: 11px;
}

.what-our-customer-say .profile-image {
    margin-top: 43px;
}

.what-our-customer-say .name {
    margin-top: 55px;
}

.profile-page .profile-header .profile-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}



.ctext {
    margin-top: 25.01px;
    margin-left: 39px;
    margin-right: 33px;
}

.what-our-customer-say .chat {
    position: absolute;
    width: 33px;
    height: 36px;
    top: 20px;
    right: 20px;
}



.what-our-customer-say .rm {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    color: #565656;
}



/* ----------------------------------------
-----------NewsLetter----------------------
------------------------------------------- */
.newsletter {
    position: relative;
    color: #353548;
    width: 100%;
    padding-top: 53px;
    padding-bottom: 53px;
}

.newsletter .up_arrow {
    position: absolute;
    left: 70px;
    top: 15px;
    background-color: #525252;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.newsletter .up_arrow .arrow-up {

    position: absolute;
    top: 17px;
    left: 13px;

}

.newsletter #email::placeholder {
    font-size: 14px;
    color: #525252;
}

.newsletter .chats {
    position: absolute;
    right: 70px;
    top: 0px;
}

.newsletter #email {
    border: 1px solid #565656;
    border-radius: 20px;
    background-color: #F4F5F8;
}

.newsletter .submit {
    background-color: #FF7B6D;
    color: #FFFFFF;
    border-radius: 20px;
    width: 88px;
    height: 40px;
    margin-left: 11px;
}

.newsletter .news {
    margin-top: 16px;
}

/* ----------------------------------
-----------Footer--------------------
------------------------------------- */
.footers {
    background-color: #111111;
}

.footer {
    width: 100%;
    padding-top: 20px;
    padding-left: 8%;
    padding-bottom: 20px;
}

.footer .logos {
    max-width: 120px;
    max-height: 92px;
}

.footer .links {
    padding-top: 2%;
}

.footer .links .menus {
    justify-content: center;
}

.footer .links .menus .btn3 {
    color: #F1F1F1;
    font-size: 14px;
}

.footer .links .menus .btn3:hover, .footer .social .icons .facebook:hover, .footer .social .icons .instagram:hover {
    background-color: #006072;
    transition: 0.3s all;
}

.footer .social {
    padding-top: 2%;
}

.footer .social .icons {
    justify-content: center;
}

.footer .social .icons .fb, .footer .social .icons .insta {
    font-size: 18px;
    color: #F1F1F1;
}

.footers .privacy-policy {
    padding-top: 23px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    color: #F1F1F1;
    width: 100%;
    background-color: #292929;
    margin: 0px;
}

.footers .privacy-policy p span {
    color: #6EABEF;
}

.footers .privacy-policy p span a {
    text-decoration: none;
}

.footers .privacy-policy .ok {
    color: #4F4F4F;
    font-size: 16px;
    width: 99px;
    margin-left: 100px;
    /* position: relative; */
    height: 40px;
    margin-top: -5px;
    background-color: #EED507;
    border-radius: 20px;
}



@media screen and (max-width:992px) {
    .banner .headpart .row .col-lg-3:nth-child(odd) .step:before {
        display: none;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }


    .c21, .c22, .c23 {
        margin-bottom: 20px;
    }

    .banner .headpart .row .col-lg-3+.col-lg-3 .step:before {
        display: none;
    }

    .banner .headpart .row .part1, .banner .headpart .row .part2, .banner .headpart .row .part3, .banner .headpart .row .part4 {
        margin-bottom: 20px;
    }

    .banner .headpart .row .part3 {
        padding-left: 0px;
    }

    .banner .headpart .row .part1 {
        padding-left: 100px;
    }
}

@media screen and (max-width:460px) {
    .footers .privacy-policy .ok {

        margin-left: auto;
        margin-right: auto;
    }

    .banner .headpart .row {
        flex-direction: column;
    }

    .banner .headpart .row .part1 {
        padding-left: 33%;
    }

    h1 {
        font-size: 30px;
    }

    .banner ul li {
        font-size: 13px;
    }

    .banner .headpart .row .step p {

        font-size: 14px;

    }

    .dwn {
        padding-bottom: 20%;

    }

    h3 {
        font-size: 20px;

    }

    .blogs:before {
        display: none;
    }

    .blogs::after {
        display: none;
    }

    .blog-up-img, .images {
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-width:400px) {
    .banner .headpart .row .part1 {
        padding-left: 37%;
    }

}

@media screen and (max-width:600px) {
    h4 {
        margin-top: 100px;
    }

}

#loginemail, #loginpassword {
    position: relative;
}

#loginemail {
    background-repeat: no-repeat;
    background-image: url("../image/user-solid.svg");
    background-position: 97%;
    background-size: 12px;
}

#loginpassword {
    background-repeat: no-repeat;
    background-image: url("../image/lock-solid.svg");
    background-position: 97%;
    background-size: 12px;
}

.email .mails {
    top: 50px;
    content: '';
    position: absolute;
    right: 20px;
}



/* .email{
    background-color: red;
} */
.email .mail {
    top: 40px;
    content: '';
    position: absolute;
    right: 40px;
}

.password .locks {
    top: 95px;
    content: '';
    position: absolute;
    right: 40px;
}

.navbar .prices {
    width: 162px;
}

.btn-login, .btn-login:focus {
    height: 50px;
    font-size: 20px;
    font-weight: medium;
    background-color: #006072;
    border-radius: 30px;
    color: #ffffff;
    border: solid 1px rgba(255, 255, 255, 0.5);
}


.forgot-password, .create-account, .login-now {
    color: #1d7a8c;
    font-size: 18px;
    text-decoration: none;
}

.modal-footer {
    justify-content: center;
    display: grid;
    text-align: center;
    max-width: 277px;
    margin: auto;
    border-top: none;
}

.forgot-password:hover, .login-now:hover, .create-account:hover {
    transition: 0.3s all;
    text-decoration: none;
    font-weight: 500;
    color: #006072;

}



.modal-header {
    border-bottom: none;
}

#ForgotModal {
    max-width: 360px;
    margin: auto;
}

#LoginModal .modal-body {
    max-height: 220px;
}

input:invalid {
    background-color: yellow;
}

#ForgotModal .modal-body {
    max-height: 130px;
}

#ForgotModal h4, #LoginModal h4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #646464;
}

#inlineFormCheck {
    position: absolute;
    content: "";

    top: -4px;
    border: solid 1px #c7c7c7;
    border-radius: 4px;
    width: 20px;
    height: 20px;
}

.form-check-label {
    margin-left: 4px;
}