@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

.navbar-nav .nav-link:hover{
    color:yellow;
}
.navbar .prices {
    width: 162px;
}

/*-----------------------
------ About Banner--------
------------------------- */

.about-banner {
    max-height: 370px;
}


.aboutstory{
    margin-top: 40px
}
.abtext {
    /* width: 84px; */
    height: 43px;
    letter-spacing: 0px;
    color: #4F4F4F;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 500;
    margin-top: 32px;

}

.sepimg{
    position: relative;
    margin-left: 470px;
    margin-right: 470px;
}


.sepimg::after,.sepimg::before{
    content: '';
    position: absolute;
    margin: auto;
    height: 1px;
    width: 39%;
height: 1px;
background:#CCCCCC ;
    top:45%;
}
.sepimg::before{
    left: 0;
}

.sepimg::after{
    right: 0;
}
@media screen and (max-width:1000px) {
    .sepimg{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .sepimg::after,.sepimg::before{
        content: '';
        position: absolute;
        margin: auto;
        height: 1px;
        width: 39%;
    height: 1px;
    background:#CCCCCC ;
        top:45%;
    }   
}

.sepretor {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: block;
    width: 24px;
    height: 25px;
    position: relative;
    margin-top: 9px;
}



@media screen and (max-width:400px) {
    .abtext {
        padding-bottom: 88px;
        /* width: 84px; */
        height: 43px;
        letter-spacing: 0px;
        color: #4F4F4F;
        font-size: 36px;
        font-family: Roboto;
        font-weight: 500;
        margin-top: 32px;
    }
}

.aboutInnerText {
    margin-left: auto;
    margin-right: auto;
    max-width: 991px;
	margin-bottom: 35px;
}
.aboutText {
	font-size: 16px;
	color: #646464;
    margin-top: 50px;
}

.abttxt{
    display: block;
}



   /* ------------------------------------------------------
---------------------NEWS LETTER-------------------------
--------------------------------------------------------- */
.newsletter {
    height: 130px;
    margin-top: 43px;
}

.newsletter h1 {
    text-align: center;
    font-size: 36px;
}

.newsletter h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-weight: 400;
    letter-spacing: 1px;

}

.newsletter input[type=text] {
    width: 233px;
    height: 40px;
    background: #F4F5F8 0% 0% no-repeat padding-box;
    border: 1px solid #565656;
    border-radius: 20px;

}

.newsletter ::placeholder {
    padding-left: 22px;
    font-size: 14px;
    width: 80px;
    height: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #565656;


}

.newsletter .ournews {

    letter-spacing: 0px;
    color: #353548;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}

.newsletter .btn5 {
    width: 88px;
    height: 40px;
    background: #FF7B6D 0% 0% no-repeat padding-box;
    border-radius: 20px;
}

.newsletter .btn5 p {
    font-size: 14px;
    width: 44px;
    height: 16px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
}

@media(max-width: 992px) {
    .newsletter .btn5 {
        width: 20%;
        /* margin-top: 5px; */

    }

    .newsletter input[type=text] {
        width: 50%;
    }
}

@media(max-width: 768px) {
    .newsletter .btn5 {
        width: 40%;
        margin-top: 5px;

    }

    .newsletter input[type=text] {
        width: 90%;
    }
}

@media(max-width: 440px) {
    .newsletter .btn5 {
        width: 50%;
        margin-top: 5px;
        /* font-size: 18px; */
    }

    .newsletter input[type=text] {
        width: 100%;
    }

    .newsletter h3 {
        font-size: 22px;
    }
}

@media(max-width: 373px) {
    .newsletter h3 {
        font-size: 20px;
        font-weight: 600;
    }

    .newsletter h1 {
        font-size: 28px;
        font-weight: 400;
    }
}

